* {
    margin: 0em;
    padding: 0em;
}

header {
    color: black;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}

li {
    display: inline;
    padding: 1em;
}

li img {
    margin-top: 1.5em;
    width: 5%;
}

#achtergrond_knop {
    margin-left: 4em;
}

/*
li {
    display: inline;
    padding: 1em;
}

ul {
    text-align: left;
    padding: 2em;
}

ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #597673;
}
*/

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: end;
    margin-right: 5%;
    margin-top: -1.5em;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
    font-size: 15pt;
}

body.achtergrond {
    background-image: url(images/achtergrond_normaal.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section.twee_rij {
    display: flex;
    width: 100vw;
    padding: 2em;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7em;

}

section.twee_rij img {
    width: 30vw;
}

.cupcake_groot {
    margin-top: 20em;
}

#elementen_toevoegen img {
    width: 8%;
    padding: 1em;
    padding-bottom: 4em;
}

#elementen_toevoegen {
    margin-left: 4em;
    padding-left: 4em;
}

@keyframes slideIn {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

#naamveld {
    position: relative;
    animation: slideIn 3s ease-out forwards;
}

.zichtbaar {
    display: block;
}

.onzichtbaar {
    display: none;
}